*,
*::before,
::after{

margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--dk-violet: hsl(268,75%,9%);
--lt-violet: hsl(268,47%,21%);
--lt-violet2: hsl(281,89%,26%);
--vb-violet2: hsl(285,91%,52%);

--vb-yellow:hsl(52,100%,62%);

--pl-white: hsl(0,0%,100%);
--vb-cyan: hsl(0,0%,100%);

--vb-cyan2: hsl(177,92%,70%);

--dk-text : hsl(198,20%,13%);

}

body{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background:  linear-gradient(231deg , rgba(22,6,40,1) 0% , rgba(52,28,79,1) 50% , rgba(88,7,125,1)100%);
background-repeat: no-repeat;
font-family: 'Tektur', cursive;

}
.container{
   
 
        transform:
          rotate3d(.5,-.866,0,15deg)
          rotate(1deg);
        box-shadow:
          2em 4em 6em -2em rgba(0,0,0,.5),
          1em 2em 3.5em -2.5em rgba(0,0,0,.5);
        transition:
          transform .4s ease,
          box-shadow .4s ease;
        border-radius: .5em;
      
        &:hover {
          transform:
            rotate3d(0,0,0,0deg)
            rotate(0deg);
        }
      

}

h1{

    color:var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}


/* password section background */
.display_container{
position: relative;
background-color: var(--dk-violet);
border-radius: 1rem;
border-bottom: 0.35rem solid var(--lt-violet2);
margin: 1rem 0;
padding-top: 0.35rem;
}


/* password section */
.display{
width: 100%;
background-color: transparent;
outline: none;
border: none;
padding: 1.15rem 1rem;
color: var(--vb-yellow);
font-weight: 600;
font-size: 1.5rem;
line-height: 30px;
letter-spacing: 1px;
padding-right: 3.25rem;
}


/* password text */
.display::placeholder{

position: absolute;
top: 50%;
left: 1.5rem;
font-size: 1.5rem;
line-height: 30px;
color: var(--vb-yellow);
opacity: 0.65;
text-transform: uppercase;
transform: translateY(-50%);
}


/* copy button  */
.display_container button{
position: absolute;
top: 50%;
right: 1.5rem;
transform: translateY(-50%);
background-color: transparent;
border: none;
}


/* password length whole container */
.input_container{

width: 100%;
background-color: var(--dk-violet);
border-bottom: 0.35rem solid var(--vb-yellow);
border-radius: 1rem;
padding: 2rem; 
}


/* /* password length whole container inside items asscess */
.length_coaintner{
display: flex;
justify-content: space-between;
align-items: center;

}

/* password length text */
.length_coaintner p:nth-child(1){

color: var(--pl-white);
font-size: 1.5rem;
}

/* password count 10 */
.length_coaintner p:nth-child(2){
color: var(--vb-yellow);
font-size: 1.5rem;

}

/* strength light and text*/
.strength_container{

display: flex;
justify-content: space-between;
align-items: center;
 margin-top: 1.75rem;
 margin-bottom: 2rem;

}


/* strength text */
.strength_container p{

color: var(--pl-white);
font-size: 1.5rem;
}

/* strength indicator visibility by giving it height and wedith */
.indicator{
width: 1.5rem;
height: 1.5rem;
border-radius: 50%;

}

/* generate password button */
.generateButton{
width: 100%;
padding: 1rem 0;
background-color: var(--vb-violet2);
text-align: center;

border-radius: 0.75rem;

border-bottom: 0.35rem solid var(--vb-yellow);
text-transform: uppercase;
letter-spacing: 1px;
color: var(--vb-yellow);
font-weight: 600;
font-size: 1.25rem;
}

.check{
    
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;

}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked::before{
    content: '✅';
    position: absolute;
    color: var(--dk-text);
    font-size: 1.1rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translateX(-50%) translateY(-2%); 
}



.check label{
    color: var(--pl-white);
    font-size: 1.5rem;

}



/* slider design */
.slider{
appearance: none;
width: 100%;
border: none;
cursor: pointer;
background-color: var(--lt-violet);
border-radius: 1rem;
margin-top: 2rem;
margin-bottom: 1.5rem;
background-image: linear-gradient(var(--vb-violet2) , var(--vb-violet2));
height: 0.75rem;
background-repeat: no-repeat;
outline: none;
}


/* by web slider thumb property we can access that circle of slider  */
.slider::-webkit-slider-thumb{
position: relative;
appearance: none;
height: 2rem;
width: 2rem;
border-radius: 50%;
background-color: var(--vb-yellow);
cursor: pointer;
margin-top: -3px;
box-shadow: 0px 0px 20px 0px rgba(225, 229, 61, 0.50);
transition: all 100ms ease-in;
}


/* by focus property when we hover on slider it will give following properties */
.slider:hover{
    outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
outline:  2px solid var(--vb-yellow);
background-color: var(--dk-violet);
box-shadow: 0px 0px 20px 5px rgba(225, 229, 61, 0.80);

}















